
    @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color: rgba(108, 204, 255, 0.473);
        background: linear-gradient(to bottom, #1a1a1a, #000000);        position: relative;
        min-height:200vh;
    }
    .hero{
        padding:20px;
        display: flex;
        box-shadow: 2px 5px 10px gray;
        width:100%;
        background-image: url('new.jpeg');
        background-size:cover;
        background-repeat: no-repeat;
        min-height:100vh;
    }
    .primary-header{
    z-index:10000000;
        background-color: hsla(232, 33%, 47%, 0.1);
        backdrop-filter: blur(6px);
        align-items: center;
        display:flex; 
        width:100%;
        justify-content: space-between;
        position: fixed;
    }
    .primary-header nav ul{
        display:flex;
        justify-content: center;
        text-align: center;
        gap:30px;
        list-style-type: none;
    }
    .primary-header nav ul a  {
        text-decoration: none;
        color:white;

    }
    .primary-header > *{
        margin-inline:40px;
        font-size:1.2rem;
        text-shadow:2px 1px 3px rgb(0, 0, 0) ;
    }

    .btn{
        border-radius:5px ;
        text-shadow:none;
        display: none;
        padding:1px 3px;
    }

    li{
        justify-content: center;
        display: flex;
        align-items: center;
        text-align: center;
        width:100%;
    }
    li a{
        display: block;
        color:rgb(0, 0, 0);
        
    }
    li a:hover{
        transform: scale(1.3);
        text-shadow:4px 4px 7px black;
    }



   

    .card{
        background-image: linear-gradient(45deg ,hsla(210, 86%, 69%, 0.192) 69% ,rgba(255, 111, 28, 0.577));
        border-radius:20px;
        backdrop-filter:blur(10px) ;
        background-color: hwb(215 47% 1% / 0.242);
        padding:50px ;
        margin:auto;
        border:2px solid rgb(139, 139, 139);
    }
    h1 {
        text-shadow:2px 2px 5px black;
        letter-spacing:2px;
        word-spacing:3px;
        font-family: 'Orbitron', sans-serif;
        color: azure;
        text-align: center;
        margin-bottom:30px;
        transform:scale(.2);
        opacity:0;
        transition: all 420ms ease-in;
    }
    p{
        margin: auto;
        width:80%;
        text-shadow:1px 1px 3px rgba(0, 0, 0, 0.712);
        word-spacing:3px;
        letter-spacing:2px;
        font-family: 'Audiowide', cursive;
        color:white;
        text-align: center;
    }
    h1.load{
        
        opacity:1;
        transform: scale(1);
    }
    
    /* .box{
        width:95%;
        margin: auto;
        display: grid;
        /* border:2px solid red; */

    /* .item{
        z-index:-12;
        background-color: darkblue;
        display: grid;
        place-content: center;
        border:2px solid black;
       
    } */
    .hidden {
        position: relative;
        left:400;
        opacity: 0;
        filter: blur (100px);
        transition: all 1s;
        }
    .show{
        opacity: 1;
        filter: blur(0);
        left:0;
        transform: translateX(0);
    }
    .item:nth-child(1){
        transition-delay:100ms ;
    }
    .item:nth-child(2){
        transition-delay: 200ms;
    }
    .item:nth-child(3){
        transition-delay: 400ms;
    }
    .item:nth-child(4){
        transition-delay: 600ms;
    }
    .item:nth-child(5){
        transition-delay: 800ms;
    }
    .item:nth-child(6){
        transition-delay:1000ms ;
    }


    .item {
        display:flex;
        position: relative;
        flex-direction: column;
    }
    .overlay{
        inset:0;
        background-color: rgba(19, 93, 241, 0.459);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        opacity:0;
        transition: opacity 340ms ease-in-out;
    }
    .item:hover .overlay {
        opacity: 1;
      }
    .heading{
        font-size:1.6rem;
        margin-top:50px;
        color:white;
        text-shadow:4px 4px 10px white;
    }
    .details{
        margin-top:40px;
        text-shadow:4px 4px 10px white;
        font-size:.6rem;
    }
    .box{
        gap:5px;
        display: grid;
        grid-template-columns:1fr;
    }
    div .cardImage{
        display: block;
        width: 100%;
        /* height: auto; */
    }
    
      .item img {
        display: block;
        width: 100%;
        height:100%;
      }
    
      .item .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
      }
    
    .footer{
        border-top-left-radius:10px ;
        border-top-right-radius: 10px;
        display: flex;
        /* border:20px solid rgba(36, 108, 181, 0.279); */
        min-height:40vh;
        background-color:black;
        color:white;
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
        margin-top:20px;
        /* grid-auto-rows:minmax(200px ,300px); */
    }
    .social{
        border:4px solid rgb(21, 21, 52);
        gap:4px;
        display: grid;
        place-content: center;
        /* width:100px; */
        /* border: 2px solid red; */
        transition: all 1s ease-in-out;
        border-radius:20px;
    }
    
    .social:hover {
        transform:rotateY(180deg);
        background-color: rgb(18, 255, 18);
    }
   

    .section{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-bottom:5px;
        padding:40px;
        border-radius:10px;
        text-align: center;
        border:2px solid white;
        background-color: black;
        color:white;
        font-size:3rem;
    }

    .fa{
        font-size: 2.2rem;
        color: white;
    }
    @media (max-width:600px) {

        .primary-header{
            backdrop-filter:none;
        }
        .navitems{
            box-shadow:2px 2px 9px rgb(0, 0, 0);
            flex-direction: column;
            align-items: center;
            backdrop-filter: blur(6px);
            padding:50px;
            background-color: rgba(3, 4, 4, 0.642);
            position:absolute;
            z-index: 1000;
            backdrop-filter: blur(6px);
            position: fixed;
            inset:10px 20px 20px 20px;
            padding-top:70px;   
            transform: scale(0);
            transform: translateX(200%);
            transform-origin:center;
            transition:transform 340ms ease-in;
        }
        .btn{
            color:white;
            padding:5px 7px;
            background-color: rgba(36, 108, 181, 0.279);
            background-repeat: no-repeat;
            display: block;
            z-index:1000000;
            position: absolute;
            right:-7px;
            top:7;
            border:1px solid white;
        }
        .navitems[aria-expanded="true"]{
            transform: translateX(0%);
            transform: scale(1);
        }
    
        .card{
            margin-top:100px;
        }
        }
    
        @media(min-width:800px)  {
           /* .heading{
            margin-top:180px;
            font-size:2rem;
           }
           .details{
            font-size:1.4rem;
           } */
           .so
           .box{
            grid-template-columns:1fr 1fr;
            gap:10px;
           }
        }